@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins&display=swap");

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 60px auto;
}

.About .hi {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.About h1 {
  font-size: 96px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.About h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.About p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.Projects h2 {
  font-size: 48px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.Projects p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.architecture-link,
.weather-link,
.restaurant-link,
.react-weather-link,
.react-dictionary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .architecture-link,
  .weather-link,
  .restaurant-link,
  .react-weather-link,
  .react-dictionary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .architecture-image,
  .restaurant-image,
  .weather-image,
  .react-weather-image,
  .react-dictionary-image {
    display: none;
  }
}
